
/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}   

body{
    background-color: #D9D9D9;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    color: #D9D9D9;
    background-color: black;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: black;
    font-size: 38px;
    text-align:center;
}

h2.titulo span{
    color: rgb(116, 113, 113);
}

button:hover, form btn-enviar input:hover{
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.514) ;
    transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header{
    padding: 20PX 4%;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #D9D9D9;
    z-index: 1000;
}

header > .interface{
    display: flex ;
    align-items: center;
    justify-content: space-between;
}
header a{
    color: rgb(114, 109, 109);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: black;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}




/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 180pt 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: black;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: black;
}

.topo-do-site .txt-topo-site p{
    color: black;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades{
    padding: 180px 4%;
}

section.especialidades .flex{
    gap: 80px;
}

.especialidades .especialidades-box{
    color:black;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.521);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: black;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre{
    padding: 182px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: black;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: rgb(116, 113, 113);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: black;
    font-size: 22px;
    cursor: pointer;
    color: #D9D9D9;
    margin: 0 5px;
    transition: .2s;

}

/* ESTILO CURSOS */
section.cursos{
    padding: 182px 4%;
    background-color: black;
    box-shadow: 0 0 40px 10px  rgba(0, 0, 0, 0.521);
}

section.cursos .flex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin-top: 60px;
}

section.cursos .flex > div:nth-child(5) {
    grid-column: 1/3;
    justify-self: center;
}

h2.tituloC{
    color: #D9D9D9;
    font-size: 38px;
    text-align:center;
}

h2.tituloC span{
    color: rgb(116, 113, 113);
}


.curso{
    width: 500px;
    height: 265px;
    padding: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    border-radius: 20px;
    color: black;
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
    text-align:justify;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #D9D9D9;
}

.curso:hover {
    transform: translateY(-5px); 
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6); 
}

.curso h4 {
    text-align: center; 
    font-size: 20px;
    color: black;
    margin-bottom: 8px;
    letter-spacing: 1px;
}

.curso p {
    width: 100%; 
    font-size: 14px;
    text-align: justify;
    color: black;
    line-height: 1.4; 
}


/* ESTILO DO PORTIFÓLIO */
section.portifolio{
    padding: 182px 4%;
    box-shadow: 0 0 40px 10px  rgba(0, 0, 0, 0.521);
}

section.portifolio .flex{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    justify-items: center;
    margin-top: 60px;
}


.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port-m{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: center;
    transition: 8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}


.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #D9D9D9;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/* ESTILO DO FORMULÁRIO DE CONTATO */
section.formulario{
    padding: 180px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
}

form input, form textarea {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #D9D9D9;
    font-size: 18px;
}

form input::placeholder{
    color: #D9D9D9;
}

form textarea{
    resize: none;
    max-height: 200px;
}

form textarea::placeholder{
    color: #D9D9D9;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: black;
    color: #D9D9D9;
    font-weight: 700;
    cursor: pointer;
    transition: .2s;
}

/* ESTILO DO RODAPÉ */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px  rgba(0, 0, 0, 0.521);
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer{
    padding: 20px 0;
}

.borda{
    border-top: 2px solid black;
}

footer .line-footer p i{
    color: black;
    font-size: 22px;
}

footer .line-footer p a{
    color: rgb(116, 113, 113);
}

@media screen and (max-width: 1020px){
    /* CLASSES GERAIS */
    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 34px;
        line-height: 30px;
    }

    /* CABEÇALHO */
    .menu-desktop, .btn-contato{
        display: none;
    }

    /* TOPO DO SITE */

    section.topo-do-site .flex{ 
        gap: 20px;
    }    

    section.topo-do-site{
        padding: 200px 8%;
    
    }

    .topo-do-site h1{
        font-size: 30px;
    }

    
    .topo-do-site .img-topo-site img{
        width: 100%;
    }

    /* ESPECIALIDADES */
    section.especialidades{
    padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre{
    padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }
    
    .img-sobre img{
        width: 100%;
    }

    /* CURSOS */
    section.cursos .flex {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    section.cursos .flex > div:nth-child(5) {
        grid-column: auto;
        justify-self: auto;
    }

    .curso {
        width: 100%;
        height: auto;
    }

    /* PORTIFÓLIO */
    section.portifolio .flex {
        display: flex;
        flex-direction: column;
        gap: 40px;
        align-items: center;
    }

    .img-port,
    .img-port-m {
        width: 360px;
        height: 460px;
    }
    /* RODAPÉ */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }
    
}


